{% extends 'base.html.twig' %}

{% block title %}Mes Commandes {% endblock %}

{% block body %}

<div class="container">

    <h1 class="text-center"> Mes Commandes </h1>
    <a href="{{ path('app_account', {id: app.user.id }) }}"> Retour </a>
       <div class="row">
        {% if orders|length == 0 %}
            <p> Vous n'avez pas de commandes. </p>
            
        {% else %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Référence</th>
                <th scope="col"> Effectué </th>
                <th scope="col">Produits</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                   
                    <tr class="my-auto">
                        <td> N° : {{ order.reference }}  </td>
                        <td>{{ order.createdAt|date('d/m/Y') }}</td>
                        <td>{{ order.orderDetails|length }}</td>
                        <td> {{ order.carrierPrice + order.getTotal }} € </td>
                        <td class="text-right"> <a href="{{ path('show_order', {'reference': order.reference }) }}"> Voir ma commande </a>  </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
                
        {% endif %}
       </div>

</div>
{% endblock %}