{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% if editMode %}

    <h1 class="text-center my-4">Modifier votre compte </h1>

{% else %}

    Register

{% endif %}

<div class="container">
    {{ form_start(formChange) }}
        {{ form_row(formChange.prenom) }}
        {{ form_row(formChange.nom) }}
        {{ form_row(formChange.photo) }}
        {{ form_row(formChange.civilite) }}
        {{ form_row(formChange.telephone) }}
        {{ form_row(formChange.email) }}
        {{ form_row(formChange.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(formChange.pseudo) }}
        {{ form_row(formChange.description) }}
        {{ form_row(formChange.adresse) }}
        <button type="submit" class="btn btn-primary"> Enregistrer </button>
    {{ form_end(formChange) }}
</div>
{% endblock %}
