{% extends 'base.html.twig' %}

{% block title %} Voir Produit {% endblock %}


{% block stylesheets %}
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="container alert alert-success text-center"> {{ message }} </div>
{% endfor %}
<div class="container">
    {% for item in produit %}
        
    <div class="row mt-5">

        <div class="col-md-4">
            <img src="{{ asset('uploads/photo_produit/' ~ item.photo) }}" alt=" {{ item.titre }} " class="img-fluid">
        </div>
        <div class="col-md-8 p-5">
            <h1 class="p-2"> {{ item.titre }} </h1>
            <hr>
            <h2 style="text-decoration: underline;"class="p-2"> Description du produit :</h2>
            <h4  class="p-2"> {{ item.description }} </h4>
            <hr>
            <h3  class="p-2"> Prix : {{ item.prix }} € </h3>
            <hr>
            <div class="ajouter">
                <a class="my-2 btn" href="{{ path('cart_adding', {id: item.id}) }}" style="width: 100%; border-radius: 10px;">Ajouter au panier</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}